
DISCORD_TOKEN=MTUyMDcxNTc3OTI0OTUzNzA1Ng.G95lZG._XHZGPdCd-C0AraH_D63y6vzWh2uq_Z59jM8NE

RPC_URL=https://base-mainnet.g.alchemy.com/v2/QXBHhzT9w_Y5N-w0RClFD

CHANNEL_ID=1517749461609091123

CONTRACT_ADDRESS=0xa2c82bda5585c1d729e2b4f85dcc9a11ded7db4c

MAX_SUPPLY=3000
